
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenerEquip</title>
    <link rel="stylesheet" href="css/estilospreg.css">
</head>
<body>
    <div>
        <header>
            <h1>Generador de Equipos</h1>
        </header>
        <nav>
            
            <h2 class="menu">Login</h2>
            <h2 class="menu">Pruebas</h2>
            <h2 class="menu">Resultados</h2>
        </nav>
        <section>
            <app-solucion></app-solucion>
        </section>
        <footer>

        </footer>
    </div>
</body>
</html>